/*
    StyleSheet For Responsive Bootstrap Carousel Effect Ken Burns
    Author: Razboynik
    Author URI: http://filwebs.ru
    Description: Bootstrap Carousel Effect Ken Burns
*/
.kb_control_left:hover, .kb_control_right:hover {
    opacity: .5 !important;
}

.kb_control_left, .kb_control_right {
    top: 35%;
    z-index: 2;
    opacity: 1;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 55px;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.kb_wrapper:hover .kb_control_left, .kb_wrapper:hover .kb_control_right {
    opacity: .8
}

.kb_icons {
    /*line-height: 50px !important;*/
    /*font-size: 34px !important;*/
    /*font-weight: normal !important*/
    font-size: 3.6em;
    font-weight: 600;
}

.kb_control_left {
    left: 1% !important
}

.kb_control_right {
    right: 1% !important
}

.kb_elastic {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.kb_elastic .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transform: scale3d(2, 1, 2);
    transform: scale3d(2, 1, 2);
    -webkit-transition: -webkit-transform .7s ease-in-out 0s, opacity ease-in-out .7s;
    transition: transform .7s ease-in-out 0s, opacity ease-in-out .7s
}

.kb_elastic .item:first-child {
    top: auto;
    position: relative;
}

.kb_elastic .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform .7s ease-in-out 0s, opacity ease-in-out .7s;
    transition: transform .7s ease-in-out 0s, opacity ease-in-out .7s;
}

.kb_wrapper {
    overflow: hidden;
    max-height: 560px;
}

.kb_wrapper > .carousel-inner > .item > img, .kb_wrapper > .carousel-inner > .item > a > img {
    margin: auto;
    opacity: .8;
    width: 100% !important;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation: immortalkenburns 20000ms linear 0s infinite alternate;
    animation: immortalkenburns 20000ms linear 0s infinite alternate
}

@-webkit-keyframes immortalkenburns {
    0% {
        -webkit-transform: scale(1);
        -webkit-transition: -webkit-transform 20000ms linear 0s
    }
    100% {
        -webkit-transform: scale(1.2);
        -webkit-transition: -webkit-transform 20000ms linear 0s
    }

}

@-moz-keyframes immortalkenburns {
    0% {
        -moz-transform: scale(1);
        -moz-transition: -moz-transform 20000ms linear 0s
    }
    100% {
        -moz-transform: scale(1.2);
        -moz-transition: -moz-transform 20000ms linear 0s
    }

}

@-ms-keyframes immortalkenburns {
    0% {
        -ms-transform: scale(1);
        -ms-transition: -ms-transform 20000ms linear 0s
    }
    100% {
        -ms-transform: scale(1.2);
        -ms-transition: -ms-transform 20000ms linear 0s
    }

}

@-o-keyframes immortalkenburns {
    0% {
        -o-transform: scale(1);
        -o-transition: -o-transform 20000ms linear 0s
    }
    100% {
        -o-transform: scale(1.2);
        -o-transition: -o-transform 20000ms linear 0s
    }

}

@keyframes immortalkenburns {
    0% {
        transform: scale(1);
        transition: transform 20000ms linear 0s
    }
    100% {
        transform: scale(1.2);
        transition: transform 20000ms linear 0s
    }

}

.kb_caption {
    left: 17%;
    width: 28%;
    top: 27%;
    text-align: left;
}

.kb_caption_right {
    left: 50%
}

.carousel-caption.kb_caption.kb_caption_right {
    top: 25%;
    bottom: inherit;
}

.kb_caption_center {
    float: none;
    margin: auto
}

.kb_wrapper {
    background: #000
}

.kb_control_left, .kb_control_left:hover, .kb_control_left:active, .kb_control_left:focus, .kb_control_right, .kb_control_right:hover, .kb_control_right:active, .kb_control_right:focus {
    color: #ccc;
    /*border: 2px solid #ccc;*/
    border: none;
    background: transparent !important
}

.kb_caption h3 {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    text-shadow: none;
    padding: .3em 0;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
    line-height: 1.3em;
}

.kb_caption h4 {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    text-shadow: none;
    margin-top: 1em;
    font-weight: normal;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    letter-spacing: 11px;
}

@media (max-width: 1440px) {
    .kb_caption {
        width: 34%;
    }

    .kb_caption h3 {
        font-size: 3.6em;
    }
}

@media (max-width: 1280px) {
    .kb_caption h4 {
        letter-spacing: 10px;
    }

    .kb_control_left, .kb_control_right {
        top: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .kb_caption h3 {
        font-size: 3em;
    }

    .kb_caption h4 {
        letter-spacing: 8px;
        font-size: 1.2em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .kb_caption h3 {
        font-size: 2.2em;
    }

    .kb_caption h4 {
        letter-spacing: 5px;
        font-size: 1.1em;
    }

    .carousel-caption.kb_caption.kb_caption_right {
        top: 17%;
        bottom: inherit;
    }
}

@media (max-width: 767px) {

    .kb_caption h3 {
        font-size: 2em;
    }

    .kb_caption h4 {
        font-size: 1.1em;
        margin-top: 0.5em;
        letter-spacing: 4px;
    }

    .kb_caption {
        width: 37%;
    }
}

@media (max-width: 600px) {
    .kb_control_left, .kb_control_right {
        border: 0
    }

    .kb_caption h3 {
        font-size: 2.2em;
    }

    .kb_caption {
        width: 43%;
    }

    .carousel-caption.kb_caption.kb_caption_right {
        top: 12%;
        bottom: inherit;
    }
}

@media only screen and (max-width: 480px) {
    .kb_control_left, .kb_control_right {
        border: 0
    }

    .kb_caption h3 {
        font-size: 1.6em;
    }

    .kb_caption {
        width: 45%;
    }

    .kb_caption h4 {
        letter-spacing: 3px;
        font-size: 0.9em;
    }

    .carousel-caption {
        padding: 0;
    }

    .kb_control_left, .kb_control_right {
        width: 40px;
        height: 40px;
    }

    .kb_icons {
        /*line-height: 39px !important;*/
        font-size: 2em !important;
    }

    .kb_caption_right {
        left: 27%;
    }
}

@media only screen and (max-width: 375px) {
    .kb_caption h3 {
        font-size: 1.3em;
    }

    .kb_caption h4 {
        letter-spacing: 1px;
        font-size: 0.9em;
        margin-top: 0.2em;
    }
}

@media only screen and (max-width: 320px) {
    .kb_caption {
        width: 54%;
    }

    .kb_caption_right {
        left: 23%;
    }
}