.mega-menu {
    border: none;
    background-color: transparent;
    display: none;
}

.mega-menu.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.mega-menu.navbar-default .navbar-brand {
    color: #fff;
}

.mega-menu > ul > li {
    position: static !important;
    border-right: 1px solid #f7f7f7;
}

.mega-menu > ul > li > ul {
    width: 100%;
    padding: 20px 0;
    background-color: #f7f7f7;
    border: none;
}

.mega-menu > ul > li > ul > li > a {
    color: #000 !important;
    font-weight: 600;
}

.mega-menu > ul > li > ul > li a:hover {
    background-color: #ccc !important;
}

.mega-menu > ul > li > ul > li > ul {
    padding: 0;
    margin: 0;
}

.mega-menu > ul > li > ul > li > ul > li {
    list-style: none;
}

.mega-menu > ul > li > ul > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}

.mega-menu > ul > li > ul > li ul > li > a:hover,
.mega-menu > ul > li > ul > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.mega-menu > ul > li:hover > ul > li {
    margin-bottom: 20px;
}

.mega-menu > ul > li:hover > ul {
    display: block;
}

.mega-menu > ul > li:hover > a {
    background-color: #f7f7f7 !important;
    color: #000 !important;
}

@media only screen and (min-width: 992px) {
    .mega-menu {
        display: block;
    }
}